GRC with Splunk & Proactive Risk Management copy.json
{
  "name": "GRC with Splunk & Proactive Risk Management copy",
  "nodes": [
    {
      "parameters": {
        "authentication": "basicAuth",
        "url": "https://splunk-api.example.com/alerts",
        "options": {}
      },
      "id": "9546f1c7-b377-42de-a78e-29d8f5ff21b4",
      "name": "Splunk Trigger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        16,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"severity\"]}}",
              "operation": "larger",
              "value2": 7
            }
          ]
        }
      },
      "id": "a46260ad-369c-416b-a722-6ab85cbfcdc0",
      "name": "Filter High Risk Alerts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "url": "https://splunk-api.example.com/search",
        "options": {}
      },
      "id": "7bcc156c-ebee-4ca2-8983-7b0658c7b081",
      "name": "Splunk Search Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { message: `High risk alert for user ${$json[\"user\"]} from IP ${$json[\"ip\"]}` } }];"
      },
      "id": "2b15ef28-d45b-4274-9c1e-cbfeac815c2a",
      "name": "Format Alert",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "channel": "#security-alerts",
        "text": "={{$json[\"message\"]}}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "6821d1ba-e9e1-4d36-a401-d92a5ec5c281",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "url": "https://compliance.example.com/incidents",
        "options": {}
      },
      "id": "1328a8ed-05e8-45cb-af3e-d899a226b713",
      "name": "Log to Compliance System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d87d3ce4-b9c3-4e5b-b395-ba6f52136d34",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        48
      ],
      "id": "922bad81-0403-4574-a487-d547ef9658e9",
      "name": "Webhook",
      "webhookId": "d87d3ce4-b9c3-4e5b-b395-ba6f52136d34"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://35.179.153.167:8089/services/search/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "search=| rest /services/authentication/users",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        176
      ],
      "id": "40ac69ae-1cd4-4d2e-8222-4c6828e5fb33",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "CCEIpRwXRUEdgcP3",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Splunk Trigger": {
      "main": [
        [
          {
            "node": "Filter High Risk Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter High Risk Alerts": {
      "main": [
        [
          {
            "node": "Splunk Search Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splunk Search Enrichment": {
      "main": [
        [
          {
            "node": "Format Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Compliance System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter High Risk Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter High Risk Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f07513b4-3982-4567-9290-2b419e98945a",
  "meta": {
    "instanceId": "307b6e5a54d8d4652e1fd99bbbd1883df2885b6d6c5ef996d39004d483f54427"
  },
  "id": "qnT76w5QYkTucqYd",
  "tags": []
}