✅Splunk Alert - IP Reputation Check.json
{
  "name": "✅Splunk Alert - IP Reputation Check",
  "nodes": [
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "GET",
        "": "",
        "url": "=https://www.virustotal.com/api/v3/ip_addresses/{{ $json.ip_address }}\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "id": "71a1eb74-02f6-44aa-b8f2-a58443b0b856",
      "name": "VirusTotal IP reputation check",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -944,
        144
      ],
      "typeVersion": 4.2,
      "extendsCredential": "virusTotalApi",
      "credentials": {
        "virusTotalApi": {
          "id": "70n6rWF7xti8LJtk",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Threat Intelligence Summary</title>\n  <style>\n    body {\n      font-family: \"Segoe UI\", sans-serif;\n      background-color: #121212;\n      color: #f0f0f0;\n      padding: 20px;\n    }\n    .container {\n      display: flex;\n      gap: 20px;\n      flex-wrap: wrap;\n    }\n    .card {\n      background-color: #1e1e1e;\n      border-radius: 12px;\n      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);\n      padding: 20px;\n      width: 100%;\n      max-width: 500px;\n      border: 1px solid #333;\n    }\n    h1 {\n      color: #00bfff;\n    }\n    h2 {\n      margin-top: 0;\n      color: #4fc3f7;\n    }\n    .section-title {\n      font-weight: bold;\n      margin-top: 15px;\n      color: #90caf9;\n    }\n    .label {\n      font-weight: bold;\n      color: #c5e1a5;\n    }\n    ul {\n      margin-top: 5px;\n      padding-left: 20px;\n    }\n    li {\n      margin-bottom: 4px;\n    }\n    .tag {\n      background-color: #333;\n      color: #c5cae9;\n      border-radius: 5px;\n      padding: 2px 6px;\n      margin-right: 5px;\n      display: inline-block;\n    }\n    a {\n      color: #81d4fa;\n      text-decoration: none;\n    }\n    a:hover {\n      text-decoration: underline;\n    }\n    .status {\n      margin-top: 10px;\n      margin-bottom: 10px;\n      font-weight: bold;\n      padding: 8px 16px;\n      border-radius: 8px;\n      display: inline-block;\n    }\n    .safe {\n      background-color: #2e7d32;\n      color: #a5d6a7;\n    }\n    .suspicious {\n      background-color: #c62828;\n      color: #ffab91;\n    }\n  </style>\n</head>\n<body>\n  <h1>IP Threat Summary</h1>\n  <p><span class=\"label\">IP:</span> {{ $json.summary.VirusTotal.IP }}</p>\n  \n  <p><span class=\"label\">Description:</span> {{ $json.summary.VirusTotal.Description }}</p>\n  \n  <div class=\"status {{ $json.summary.Status === 'Safe' ? 'safe' : 'suspicious' }}\">\n    {{ $json.summary.Status }}\n  </div>\n\n  <div class=\"container\">\n    <!-- VirusTotal Section -->\n    <div class=\"card\">\n      <h2>VirusTotal</h2>\n      <p><span class=\"label\">Reputation:</span> {{ $json.summary.VirusTotal.Reputation }}</p>\n      <p><span class=\"label\">WHOIS:</span> {{ $json.summary.VirusTotal.Whois }}</p>\n      <p><span class=\"label\">Tags:</span> {{ $json.summary.VirusTotal.Tags_HTML }}</p>\n      <p class=\"section-title\">Analysis Stats</p>\n      <ul>\n        <li>Harmless: {{ $json.summary.VirusTotal.Harmless }}</li>\n        <li>Malicious: {{ $json.summary.VirusTotal.Malicious }}</li>\n        <li>Suspicious: {{ $json.summary.VirusTotal.Suspicious }}</li>\n        <li>Undetected: {{ $json.summary.VirusTotal.Undetected }}</li>\n      </ul>\n    </div>\n\n    <!-- AlienVault Section -->\n    <div class=\"card\">\n      <h2>AlienVault</h2>\n      <p><span class=\"label\">Reputation:</span> {{ $json.summary.AlienVault.Reputation }}</p>\n      <p><span class=\"label\">WHOIS:</span> \n          <a href=\"{{ $json.summary.AlienVault.Whois }}\" target=\"_blank\">View WHOIS</a>\n      </p>\n      <p><span class=\"label\">Pulse Count:</span> {{ $json.summary.AlienVault.Pulse_Count }}</p>\n      <p class=\"section-title\">Pulse Names</p>\n      <div>\n        {{ $json.summary.AlienVault.Pulse_Names.split(',').map(name => `<span class=\"tag\">${name.trim()}</span>`).join('') }}\n      </div>\n    </div>\n\n    <p style=\"margin-top: 5px;\">Generated at: {{ $json.summary.Generated_At }}</p>\n  </div>\n</body>\n</html>\n"
      },
      "id": "e176b1f1-fd63-4376-8162-4e245e192fcc",
      "name": "IP summary display",
      "type": "n8n-nodes-base.html",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst ip = body?.result?.src_ip || 'No IP found';\nconst reason = body?.result?.reason || 'No reason found';\n\nreturn [\n  {\n    json: {\n      ip_address: ip,\n      description: reason\n    }\n  }\n];\n"
      },
      "id": "2bc7d0a1-2668-46c3-ab8b-bacc7254530b",
      "name": "Extract IOCs",
      "type": "n8n-nodes-base.code",
      "position": [
        -1248,
        288
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "GET",
        "": "",
        "url": "=https://otx.alienvault.com/api/v1/indicators/IPv4/{{ $json.ip_address }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "alienVaultApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "id": "bacae75d-1b18-44ea-9986-bd7ff5bf272a",
      "name": "AlienVault Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -944,
        400
      ],
      "typeVersion": 4.2,
      "extendsCredential": "alienVaultApi",
      "credentials": {
        "alienVaultApi": {
          "id": "URx6VdQGY0oBOP3g",
          "name": "AlienVault account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "41f18b85-0ce5-4424-a8ed-bddaf7d5323e",
      "name": "Merge Threat Data",
      "type": "n8n-nodes-base.merge",
      "position": [
        -656,
        288
      ],
      "typeVersion": 3.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "let virustotal = null;\nlet alienvault = null;\nlet metadata = null;\n\nfor (const item of items) {\n  if (item.json?.data?.attributes) {\n    // Likely VirusTotal result\n    virustotal = item.json;\n  } else if (item.json?.pulse_info) {\n    // Likely AlienVault result\n    alienvault = item.json;\n  } else if (item.json?.description) {\n    // The Wazuh description or IP metadata\n    metadata = item.json;\n  }\n}\n\nreturn [{\n  json: {\n    virustotal,\n    alienvault,\n    description: metadata?.description || \"No description\",\n    ip_address: metadata?.ip_address || virustotal?.data?.id || \"Unknown IP\"\n  }\n}];\n"
      },
      "id": "d1077c00-b216-4d38-ad78-9061aca0678c",
      "name": "Process Intel Data",
      "type": "n8n-nodes-base.code",
      "position": [
        -448,
        288
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Get merged input (single item array)\nconst data = items[0].json;\n\n// VirusTotal extraction\nconst vt = data.virustotal?.data?.attributes;\nconst vtTagsArray = vt?.tags || [];\n\nconst malicious = vt?.last_analysis_stats?.malicious || 0;\nconst suspicious = vt?.last_analysis_stats?.suspicious || 0;\n\nconst vtSummary = vt ? {\n  IP: data.virustotal.data.id,\n  Reputation: vt.reputation,\n  Tags: vtTagsArray.join(', '),\n  Tags_HTML: vtTagsArray.map(tag =>\n    `<span class=\"tag\">${tag.trim()}</span>`\n  ).join(''),\n  Harmless: vt.last_analysis_stats?.harmless || 0,\n  Malicious: malicious,\n  Suspicious: suspicious,\n  Undetected: vt.last_analysis_stats?.undetected || 0,\n  Whois: vt.whois?.split(\"\\n\")[0] || \"No WHOIS info\",\n  Description: data.description || \"No description\"\n} : {};\n\n// AlienVault extraction with fallback\nlet avSummary = {};\nlet isAlienVaultSuspicious = false;\n\nif (data.alienvault && data.alienvault.pulse_info) {\n  const av = data.alienvault;\n  const pulseNamesArray = (av?.pulse_info?.pulses || []).map(p => p.name);\n  const pulseCount = av?.pulse_info?.count || 0;\n\n  isAlienVaultSuspicious = pulseCount > 0;\n\n  avSummary = {\n    IP: av.indicator,\n    Reputation: av.reputation,\n    Whois: av.whois,\n    Pulse_Count: pulseCount,\n    Pulse_Names: pulseNamesArray.join(', '),\n    Pulse_Names_HTML: pulseNamesArray.map(name =>\n      `<span class=\"tag\">${name.trim()}</span>`\n    ).join('')\n  };\n} else {\n  avSummary = {\n    IP: 'N/A (Private IP)',\n    Reputation: 'N/A',\n    Whois: 'N/A',\n    Pulse_Count: 0,\n    Pulse_Names: 'N/A',\n    Pulse_Names_HTML: ''\n  };\n}\n\n// Global Status Logic\nconst isVirusTotalSuspicious = malicious > 0 || suspicious > 0;\nconst finalStatus = (isVirusTotalSuspicious || isAlienVaultSuspicious) ? 'Suspicious' : 'Safe';\n\n// Timestamp\nconst generatedAt = new Intl.DateTimeFormat('en-IN', {\n  dateStyle: 'short',\n  timeStyle: 'medium',\n  timeZone: 'Asia/Kolkata'\n}).format(new Date());\n\n// Final Output\nreturn [\n  {\n    json: {\n      summary: {\n        VirusTotal: vtSummary,\n        AlienVault: avSummary,\n        Status: finalStatus,\n        Generated_At: generatedAt\n      }\n    }\n  }\n];\n"
      },
      "id": "1f9d9a55-4240-4870-92b3-88c6dac4aa2b",
      "name": "Generate IP Summary",
      "type": "n8n-nodes-base.code",
      "position": [
        -224,
        288
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "559feb80-bac9-4300-82ac-7fbec9c24320",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.summary.Status }}",
                    "rightValue": "Suspicious"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "221dde29-7daf-487c-88ac-29bf3aefa565",
      "name": "Filter Suspicious IPs",
      "type": "n8n-nodes-base.switch",
      "position": [
        32,
        560
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "resource": "incident",
        "operation": "create",
        "short_description": "=IP: {{ $json.summary.VirusTotal.IP }} \n{{ $json.summary.VirusTotal.Description }}",
        "additionalFields": {}
      },
      "id": "e5d6b7a9-b1bf-49b8-8c93-355cdc434502",
      "name": "Create IP Incident",
      "type": "n8n-nodes-base.serviceNow",
      "position": [
        240,
        448
      ],
      "typeVersion": 1,
      "alwaysOutputData": false,
      "credentials": {
        "serviceNowBasicApi": {
          "id": "NVsx95Eh7JFtPfBZ",
          "name": "ServiceNow Basic Auth account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A022XKWSF",
          "mode": "list",
          "cachedResultName": "security-alerts"
        },
        "text": "={{ $json.summary.VirusTotal.Status === 'Safe' ? '✅' : '🚨' }} IP {{ $json.summary.VirusTotal.IP }}\nStatus: *{{ $json.summary.Status }}*\nEvent: {{ $json.summary.VirusTotal.Description }}\n",
        "otherOptions": {}
      },
      "id": "0e84a837-535d-4da5-b541-5bff9fb252dc",
      "name": "Slack IP Alert",
      "type": "n8n-nodes-base.slack",
      "position": [
        240,
        672
      ],
      "webhookId": "c246176e-5a7c-4223-9c41-196ed03ceaa2",
      "typeVersion": 2.3,
      "credentials": {
        "slackOAuth2Api": {
          "id": "XO0psTJIMXMC0CSx",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rajneesh@haxsecurity.com",
        "subject": "[New Alert] IP Reputation Check Summary",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "a17f7804-3f73-42b5-afcf-e94ce210eb16",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        240,
        0
      ],
      "webhookId": "a0b9d4ee-ac9f-46e1-a9de-b81395a03636",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "path": "e645d98e-f80c-47e5-b96e-762c96f3db76",
        "options": {}
      },
      "id": "2e95c86c-8879-4859-ba6b-6be8e711253a",
      "name": "Splunk Alert",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1488,
        288
      ],
      "webhookId": "e645d98e-f80c-47e5-b96e-762c96f3db76",
      "typeVersion": 2,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "content": "## 📥 Alert Ingestion & IOC Extraction\n- Receives alert from Splunk with IP address.\n- Extracts source IP and event reason.\n- Sends it to VirusTotal, AlienVault, and Merge nodes.\n",
        "height": 180,
        "width": 340
      },
      "id": "16e06631-5f69-4e70-9efe-2e94a5edc135",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1488,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🧪 Threat Enrichment & Summary Generation\n- Queries VirusTotal and AlienVault for reputation.\n- Merges data, tags, WHOIS, and pulse info.\n- Creates a readable summary of threat posture.\n",
        "height": 140,
        "width": 600,
        "color": 3
      },
      "id": "e734bede-d4b6-4d0e-a07a-7a232b9cdb49",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🚨 Alert Routing & Analyst Notification\n- If IP is marked suspicious:\n  - Sends Slack alert\n  - Creates an incident ticket\n- Emails an HTML summary report to the SOC inbox.\n",
        "height": 200,
        "width": 340
      },
      "id": "acae2b4e-b1c4-436d-8e2b-8bdb7767650c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        192
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Extract IOCs": {
      "main": [
        [
          {
            "node": "VirusTotal IP reputation check",
            "type": "main",
            "index": 0
          },
          {
            "node": "AlienVault Lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Threat Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Splunk Alert": {
      "main": [
        []
      ]
    },
    "AlienVault Lookup": {
      "main": [
        [
          {
            "node": "Merge Threat Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Threat Data": {
      "main": [
        [
          {
            "node": "Process Intel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IP summary display": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Intel Data": {
      "main": [
        [
          {
            "node": "Generate IP Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate IP Summary": {
      "main": [
        [
          {
            "node": "IP summary display",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Suspicious IPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Suspicious IPs": {
      "main": [
        [
          {
            "node": "Create IP Incident",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack IP Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal IP reputation check": {
      "main": [
        [
          {
            "node": "Merge Threat Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "52f539a5-7599-4cde-8b65-687bb05a6418",
  "meta": {
    "instanceId": "307b6e5a54d8d4652e1fd99bbbd1883df2885b6d6c5ef996d39004d483f54427"
  },
  "id": "Ccj3CBtliPJI49UF",
  "tags": []
}